.mynavbar{
    height: auto;
    background-color: #2699ab;
    box-shadow: -2px 0px 20px 0px #2699ab;
}
.mynavbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}
.mynavbar ul a{
    text-decoration: none;
    padding: 0.5em;
    color: black;
    border-radius: 4em;
}
.mynavbar ul a:hover{
    text-decoration: none;
    background-color: black;
    opacity: 0.7;
    color: white;
}
