.footer{
    width: 100%;
}


.footer div{
    text-align: center;
    
}
.footer div p{
    margin: 0;
}

@media only screen and (min-width: 700px) {
    .footer{
        position: absolute;
        bottom:  0;
    }
}