.main-content{
    text-align: center;
}

/* card */

/* .projects-container{
    display: grid;
} */


.profile-card{
    display: inline-block;
    background: white;
    max-width: 5em;
    min-height: 10em;
    border-radius: 1em;
    opacity: 0.8;
    border-radius: 1em;
}

@media screen and (min-width: 700px) {
    /* .projects-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .profile-card{
        
    } */
}